{#
/**
 * @file zwc.html.twig
 * Default theme implementation to present ZWC data.
 *
 * This template is used when viewing ZWC pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_zwc()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('zwc') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
