{#
/**
 * @file zwc_run_action.html.twig
 * Default theme implementation to present ZWC Run Action data.
 *
 * This template is used when viewing ZWC Run Action pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_zwc_run_action()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('zwc_run_action') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
