{#
/**
 * @file zwc_queue.html.twig
 * Default theme implementation to present ZWCQueue data.
 *
 * This template is used when viewing ZWCQueue pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_zwc_queue()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('zwc_queue') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
