{#
/**
 * @file zwc_resource.html.twig
 * Default theme implementation to present ZWCResource data.
 *
 * This template is used when viewing ZWCResource pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_zwc_resource()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('zwc_resource') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
